<appSettings>
  <add key="startupRoles" value="Administrators;Employees;Customers" />
  <add key="adminUserName" value="Webmaster" />
  <add key="adminEmail" value="Webmaster@Chinook.ca" />
  <add key="adminPassword" value="Pa$$w0rd" />
  <add key="adminRole" value="Administrators" />
  <add key="customerRole" value="Customers" />
  <add key="employeeRole" value="Employees" />
  <add key="newUserPassword" value="Pa$$w0rdUser" />
</appSettings>
